<br>
<div class="container-fluid">
  <h1><b>Products Listing</b></h1>
  <br>
  <h2>{{catName}}</h2>
  <button class="btn btn-primary" (click)="openCatModal(newProductModal)"> + Add New Product</button>
</div>
<br>

<ul class="list-group text-center listProductul" *ngFor="let results of result;">
  <li class="list-group-item text-left listProduct">
    <div class="row">
      <div class="col-4">
        <img class="col productImage" id="productImage1" src="{{results.image[0]}}"
          onerror="this.src='/assets/placeholderImg.PNG'" alt="">
        <img class="col productImage" id="productImage2" src="{{results.image[1]}}"
          onerror="this.src='/assets/placeholderImg.PNG'" alt="">
        <img class="col productImage" id="productImage3" src="{{results.image[2]}}"
          onerror="this.src='/assets/placeholderImg.PNG'" alt="">
        <img class="col productImage" id="productImage4" src="{{results.image[3]}}"
          onerror="this.src='/assets/placeholderImg.PNG'" alt="">
      </div>
      <div class="col-2">
        <div><b>Product Name:</b><br>{{results.name}}</div>
        <br>
        <div><b>Agent price:</b><br>{{results.agent_price}}</div>
      </div>
      <div class="col-2">
        <div><b>Normal price:</b><br>{{results.standard_price}}</div>
        <br>
        <div><b>Degree range:</b><br>{{results.degreeType}}</div>
      </div>
      <div class="col-3">
        <div><b>Description:</b><br>{{results.description}}</div>
      </div>
      <div class="col-1 text-right">
        <br>
        <button type="button" class="btn btn-primary mainBtn">Edit Name</button>
        <br>
        <br>
        <button type="button" class="btn btn-primary mainBtn">Delete</button>
      </div>
    </div>
  </li>
</ul>

<ng-container *ngFor="let image of images">
  <img [src]="image" />
</ng-container>

<ng-template #newProductModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Product Name</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="categoryName">Product Name</label>
        <input type="text" class="form-control" id="categoryName" formControlName="productName">
      </div>
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <input type="text" class="form-control" id="productDescription" formControlName="productDescription">
      </div>
      <div class="form-group">
        <label for="productPrice">Product Price</label>
        <input type="number" class="form-control" id="productPrice" formControlName="productPrice">
      </div>
      <div class="form-group">
        <label for="productStandardPrice">Product Normal Price</label>
        <input type="number" class="form-control" id="productStandardPrice" formControlName="productStandardPrice">
      </div>
      <div class="form-group">
        <label for="productAgentPrice">Product Agent Price</label>
        <input type="number" class="form-control" id="productAgentPrice" formControlName="productAgentPrice">
      </div>
      <div class="form-group">
        <label for="productDegreeType">Product Degree Type</label>
        <input type="text" class="form-control" id="productDegreeType" formControlName="productDegreeType">
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="productDiscount" formControlName="productDiscount">
          <label class="form-check-label" for="productDiscount">
            Product Discount
          </label>
        </div>
      </div>
      <div class="form-group" *ngIf="form.get('productDiscount').value">
        <label for="productDiscountPrice">Product Discount Price</label>
        <input type="number" class="form-control" id="productDiscountPrice" formControlName="productDiscountPrice">
      </div>
      <div class="form-group">
        <label for="fileInput">Product Image</label>
        <input type="file" class="form-control-file" id="fileInput" multiple (change)="fileChangeEvent($event)">
      </div>
      <button type="submit" class="btn btn-primary" (click)="closeModal()">Submit</button>
    </form>
  </div>
</ng-template>