#header{
    margin-left: 31%;
}

#loginForm{
    /* padding-top: 18%;
    padding-left: 55%;
    padding-right: 17%; */
    margin-left: 20%;
    width: 600px;
  }
  
  #loginBtn{
    /* /* margin-left:35px; */
    margin-left: 33%;
    width: 200px;
  }