<body>
    <div>
        <h1 id="header"><u>Change Password</u></h1>
    </div>
    <br><br>
    <div id="loginForm">
        <form [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
            <p class="error" *ngIf="myForm.controls.oldPassword.dirty &&
            myForm.controls.oldPassword.hasError('required')" style="color:red;">
            Old password is required!
            </p>

            <p><input type="password" class=form-control formControlName="oldPassword" id="password" placeholder="Old Password" /></p>

            <p class="error" *ngIf="myForm.controls.password.dirty &&
            myForm.controls.password.hasError('required')"style="color:red;">
            Password is required!
            </p>

            <p><input type="password" class=form-control formControlName="password" id="password" placeholder="Password" /></p>

            <p class="error" *ngIf="myForm.controls.reTypePassword.dirty &&
            myForm.controls.reTypePassword.hasError('required')"style="color:red;">
            Please Re-Type new password
            </p>

            <p><input type="password" class=form-control formControlName="reTypePassword" id="reTypePassword"
                    placeholder="Re-Type Password" /></p>
            <br><br>

            <p><button id="loginBtn" class="btn btn-primary" type="submit">LOGIN</button></p>
        </form>

    </div>
</body>