/*Background width*/
.row{
    width: 100%;
}

/*Global font format */

*{
    font-family: 'Open Sans', sans-serif;
}

/*testing global CSS*/
/* NavBar Logo CSS */
#navName{
    color: skyblue;
    font-style: Bold;
  }
  
  .sidenav {
      
      height: 150%;
      width: 15%;
      position: fixed;
      top: 0;
      left: 0;
      margin-top:-17px;
      border-style: solid;
      border-width:1px;
    }
    
    .sidenav .options {
      padding-left:15%;
      padding-top:15px;
      text-decoration: none;
      font-size: 15px;
      color: black;
      display: block;
    }
    
    @media screen {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
  /*Hover effects on side nav bar */
  .sidenav a:hover {
    border-left: 4px solid skyblue;
    color: skyblue;
    padding: 6px 0; 
    padding-left:15%;
    padding-top:15px;
    }
  
    #navLogo{
      margin-top: 10%;
      text-align: center;
    }